<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layout/layoutsub}">
	<th:block layout:fragment="head" th:insert="~{@{/mobile/layout/head}}"></th:block>

<script type="text/javascript">
function queryData (ind, qryYmd) {
    var param = {
             "qryYmd" : qryYmd
             , "qryInd" : ind 
     };
	$.ajax({
        url : '/carbon/cbQrListProc'
            , type : 'POST'
            , dataType : 'JSON'
            , cache : false
            , data : param
            , beforeSend : function( xhr, settings ) { 
                //loadingbar_show(); 
            }
            , success : function(data, stauts, request) {
                var values = data.infoList;
                var strHtml = "";
                
                if (values.length > 0) {
                    $.each(values, function(index, value){
                        strHtml += '<tr >';
                        strHtml += '    <td>' + value.ymd + '</td>';
                        strHtml += '    <td>' + value.qrUseCnt + '</td>';
                        strHtml += '</tr>';
                        });
                    } else {
                        strHtml = '<tr><td colspan=2 ><span>검색 결과가 없습니다.</span></td></tr>';
                    }
                    $('#boardTbody1').html(strHtml);
                    if ( data.listSum > 0) {
                    	strHtml = "<span>전체</span>" + data.listSum + "건";
                    	$('#totalCnt').html(strHtml);
                        div = document.getElementById("totalCnt");
                        div.style.display = "block";
                    }
                    
                }
               , error : function(xhr, status) {
                   alert('서비스 장애발생 관리자에게 문의해 주십시요 we');
               }
               , complete : function(xhr, status) {
                   //loadingbar_hide();
               }    
    });
}

	$(document).ready(function(){
    	
		//조회버튼 클릭
        $('#queryYmd').on('click', function(event) {
            var qryYmd =  $('#yyyy').val()  +  $('#month').val() ;
        	queryData ("D", qryYmd);
	    });

        $('#queryYm').on('click', function(event) {
        	queryData ("M", $('#yyyy').val());
	    });

	
     });
</script>


<body>
	<th:block layout:fragment="header" th:insert="~{@{/mobile/layout/headersub}}"></th:block>
	
	<div layout:fragment="content">
    <div class="content-wrap">
        <div class="qr-search">
            <select id="yyyy" name="" class="sel_type1">
				<th:block th:each="year : ${#numbers.sequence(2025, 2029)}">
				   <option th:value="${year}"
                th:selected="${year == curyy}"
                th:text="${year + '년'}"></option>
				</th:block>
            </select>
            <select id="month" name="" class="sel_type1">
				<th:block th:each="i : ${#numbers.sequence(1, 12)}">
				    <option th:value="${i < 10 ? '0' + i : i}"
                th:selected="${(i < 10 ? '0' + i : i) == curmm}"
                th:text="${i + '월'}"></option>
				</th:block>
            </select>
            <button type="button" class="btn-blue" id="queryYmd">일별조회</button>
            <button type="button" class="btn-blue" id="queryYm">월별조회</button>
        </div>

        <section class="carbon-content">
            <div class="board-type1">
                <table>
                    <colgroup>
                        <col />
                        <col style="width:50%;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>일자</th>
                            <th>판매건수</th>
                        </tr>
                    </thead>
                    <tbody id="boardTbody1">
                    </tbody>
                </table>
            </div>

            <!-- page number
            <div class="page-num mT20">
	            <div class="inner">
	                <li><a href="#" class="first"></a></li>
	                <li><a href="#" class="prev"></a></li>
	                <li>
	                    <a href="#" class="active">1</a>
	                    <a href="#">2</a>
	                    <a href="#">3</a>
	                    <a href="#">4</a>
	                    <a href="#">5</a>
	                </li>
	                <li><a href="#" class="next"></a></li>
	                <li><a href="#" class="last"></a></li>
	            </div>
        	</div> -->
	        <!--// page number -->
        </section>
        <!-- //carbon-content -->

        <div class="qr-inventory"  id="totalCnt" style="display:none;">
            <span>전체</span> 1,200건
        </div>

    </div>
    <!-- //content-wrap -->
	</div>
	<th:block layout:fragment="footer" th:insert="~{@{/mobile/layout/footer}}"></th:block>

    <script type="text/javascript" src="../resources/js/content.js"></script>
    <script type="text/javascript" src="../resources/js/swiper-bundle.min.js"></script>

</body>
</html>
