
/* 버튼 */
button {
    border:0;
    -webkit-transition-duration: 0.4s; transition-duration: 0.4s;
    -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
    cursor: pointer;
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    box-sizing: border-box;
    color: #363A3E;
    border-radius:4px;
    background-color: transparent;
  }
  button:focus {
      outline: none;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      transition: all 0.5s;
  }


  .btn-blue 	{line-height: 40px; height:40px; font-size:1rem; background:#244F97;  padding:0 24px; border-radius:4px; color: #fff; }
  .btn-blue:hover {background:#14305E; }


/* input */
input[type=text], input[type=password], input[type=date] {
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius:4px;
    background-color:#fff;
    vertical-align: middle;
    min-width: 100px;
    font-family:'Pretendard', sans-serif;
    border:1px solid #C6D0DA;
	color: #363A3E;
    font-size: 0.92rem;
    height:40px;
    padding:0 16px;
}
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, textarea:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 0 0.2rem rgba(119, 167, 255, 0.25);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transition: all 0.5s;
}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}


/* textarea */
textarea {
    font-family: 'Pretendard', sans-serif;
    font-size:0.92rem;
    overflow: auto;
    border: 1px solid #C6D0DA;
    padding: 10px;
    border-radius: 4px;
    min-height: 260px;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius:4px;
    color: #363A3E;
    width: 100%;
}



/* select */
select::-ms-expand{display:none;}
select {
-webkit-appearance: none;-moz-appearance: none;appearance: none;
vertical-align: middle;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-radius:4px;
box-shadow:none;
box-sizing:border-box;
background:#fff url('../images/arrow_down.svg') no-repeat;
-webkit-background-size: 12px auto;
background-size: 12px auto;
background-position:right 12px center;
border:1px solid #C6D0DA!important;
font-size:0.88rem;
height:40px;
min-width: 160px;
font-family:'Pretendard', sans-serif;
color:#222;
box-sizing: border-box;
padding:0 16px!important;
}
select:focus {
    border-color: #66afe9;
    box-shadow: 0 0 0 0.2rem rgba(119, 167, 255, 0.25);
    transition-duration: 0.5s;
    transition: all 0.5s;
}



/* bbs */
.bbs-list    {position: relative; width: 100%; border-top:1px solid #2158C8;}
.bbs-list li {display: grid; grid-template-columns:10% auto 120px; text-align:center; border-bottom:1px solid #E8EDF2;  padding: 16px 0; font-size: 1rem;}
.bbs-list    {position: relative; width: 100%; border-top:1px solid #2158C8;}
.bbs-list li .date{color: #777; font-size: 0.92rem;}
.bbs-list li .answer {background: url('../images/answer.svg') no-repeat left top; text-align: left; padding-left: 20px; background-size: 16px;}

.bbs-list li:hover  {background: #FEFDF5!important}
.bbs-list  a:hover {text-decoration: underline;}

.bbs-view    {position: relative; width: 100%; border-top:1px solid #2158C8;}
.bbs-view > li{border-bottom:1px solid #E8EDF2; padding: 12px;}
.bbs-view li.title {font-size:1.34rem; font-weight: 500; text-align: center;  }
.bbs-view li.date {font-size:0.92rem; text-align: right;   color: #666;}
.bbs-view li.file {font-size:0.92rem; }
.bbs-view li.file a {text-decoration: underline; }
.bbs-view li.date span {padding-left: 24px;}
.bbs-view li.bbs-content {padding: 40px;  min-height: 200px;  }

.bbs-btn {text-align: center; margin-top: 40px;}
.btn-list {float: right;}

.bbs-write    { width: 100%; border-top:1px solid #2158C8; font-size: 0; border-bottom: 1px solid #E8EDF2; padding-bottom: 10px; padding-top: 10px;}
.bbs-write > li {display: block; padding: 10px 16px;  font-size: 1rem; }
.bbs-write > li span {display: inline-block; width: 200px; text-align: center; color: #38444F; font-weight: 500;}
.bbs-write > li input[type=text] {width: calc(100% - 240px); }
.bbs-write > li textarea {width: calc(100% - 240px); height: 240px; padding: 20px 20px 40px 20px; }



/* 페이지넘버 */
.page-num{margin-top: 30px;  text-align:center; font-size: 0 ; margin-top: 40px;}
.page-num li{display:inline-block;}
.page-num a{font-size: 0.92rem; margin-left:-1px; display:inline-block; height:35px;line-height:35px; background:#fff;width:35px; border:1px solid #D9E1E9; vertical-align: top; color: #666;}
.page-num li.prev {margin-right: 15px}
.page-num li.next {margin-left: 15px}
.page-num li a.active {background: #111; color: #fff ;border:1px solid #111;}
.page-num a.page-first {background: url('../images/page_first.svg') no-repeat center;  font-size: 0;}
.page-num a.page-prev {background: url('../images/page_prev.svg') no-repeat center;  font-size: 0;}
.page-num a.page-next {background: url('../images/page_next.svg') no-repeat center;  font-size: 0;}
.page-num a.page-last {background: url('../images/page_last.svg') no-repeat center;  font-size: 0;}



@media (max-width: 1279px){

.bbs-list li {grid-template-columns:30px auto ; text-align:left;  padding: 10px; font-size: 0.92rem;}
.bbs-list li .num {width: 10%; font-size: 0.88rem; }
.bbs-list li .date{font-size: 0.78rem; padding-left: 30px;}
.btn-list {float: none; margin-top: 30px; text-align: center; }

.bbs-view li.title {font-size:1rem; padding: 8px 0;  }
.bbs-view li.date {font-size:0.82rem; text-align: left;}
.bbs-view li.date span {padding-left: 0; padding-right: 8px;}
.bbs-view li.bbs-content {padding:16px;  min-height: 160px; font-size: 0.92rem; }

.bbs-write    {padding-bottom: 10px; padding-top: 10px; font-size: 0.92rem;}
.bbs-write > li {display: block; padding: 10px 8px;  font-size: 1rem; }
.bbs-write > li span {display:block; width: 100%; text-align: left;}
.bbs-write > li input[type=text] {width: 100%; }
.bbs-write > li textarea {width: 100%; height: 200px; padding:12x; }

}

