

@media (max-width: 1279px){

body {font-size: 16px!important;}
.pc-view {display: none;}
.m-view {display: block;}
.main-scroll {top:400px; height: 40px;}


/* main */
.swiper-button-prev {left:4px!important; background-size: 24px!important; height: 24px!important; width: 24px!important;}
.swiper-button-next {right:4px!important;  background-size: 24px!important; height: 24px!important; width: 24px!important;}

.main-visual{height:400px; margin-top: -60px; background-color: #111;}
.main-visual-info {width: 100%; height:400px; padding: 0 16px;  box-sizing: border-box;}


.main-visual-info .text-01 { display: none; }
.main-visual-info .text-02 { display: none; }
.main-visual-info .text-03 {font-weight: 700; font-size:1.20rem;padding-top:240px; line-height: 1.2; background: none;}
.main-visual-info .text-04 {font-weight: 500; font-size:1rem; line-height: 1.2; margin-top: 10px;}


.main-01 {padding-top: 40px; }
.main-01 h2 {font-size: 1.2rem; }
.main-01-list {margin-top: 20px; display: block; grid-template-columns:none; gap:0; margin-bottom: 40px;}
.main-01-box {height: auto; border-radius: 8px;font-size: 1.24rem; padding-top:25px; padding-bottom: 25px; margin-bottom: 10px; text-align: left; padding-left: 130px;}
.main-01-box em {font-size: 1rem; }
.main-01-box.m2-bg1, .main-01-box.m2-bg2, .main-01-box.m2-bg3
{background-position: left 32px center; background-size: 70px;}


.main-02 {margin-top: 80px; font-size: 0.92rem; background-size: 260px; }
.main-02 h2 {font-size: 1.2rem; padding-top: 150px; padding-bottom: 10px;}
.main-02 em {font-weight: 600; color: #111; font-size: 1.24rem;}
.main-02 em::after {padding: 0 8px; font-size: 1rem; }
.main-02 .state {font-size: 1.24rem;}
.main-02  p {margin-top: 0; }

.main-03-list {margin-top: 80px; display: block; grid-template-columns:none; gap:0; margin-bottom: 40px; }
.main-03-box {height: auto; border-radius: 8px;font-size: 0.92rem; padding-top:25px; padding-bottom: 20px; margin-bottom: 10px; text-align: left; padding-left: 130px;}
.main-03-box em {font-size: 1.18rem; padding-bottom: 5px; }
.main-03-box.m2-bg1, .main-03-box.m2-bg2, .main-03-box.m2-bg3
{background-position: left 32px center; background-size: 70px;}


/* sub */

.entry{height:120px;  margin-top:0;  width:100%;}
.sub-visual { height: 120px;  margin-top:0; }
.entry h2 {margin-top: 40px;  font-size: 1.32rem; }
h3 {font-size: 1.32rem; padding-top: 20px; margin-bottom: 40px; margin-top:0 }
h3.bbs {margin-bottom: 20px; }

.sub01-01 {background-size: 160px;  padding-top: 130px; font-size: 1.12rem;  margin-top: 40px;}
.sub01-01 span {font-size: 1.18rem; }

.sub01-02 {background-size: cover; height:160px; padding-top:80px; font-size: 1.18rem;  margin-top: 60px; background-position: right -120px top; background-color: #D0D0BE;}
.sub01-02 > .text {width: 100%; padding-left: 40px; box-sizing: border-box;}
.sub01-03 {margin-top: 40px; font-size: 1rem;}


/* 탄소뱅크 협력사 */
.partner-01 { border-radius: 8px; padding: 20px; grid-template-columns:1fr; font-size: 1rem; }
.partner-01 img {width: 240px; margin-bottom: 10px; }

.partner-02 {text-align: left; margin-top: 40px;}
.partner-02 .p02-01 {font-size: 1rem; margin-bottom: 20px;}
.partner-02 .p02-01 br {display: none;}
.partner-02 .p02-03 {font-size: 1rem; margin-top: 40px; }

.partner-list{display: flex; flex-direction: row; flex-wrap:wrap;  justify-content: center; gap:10px}
.partner-box {height: auto; width: 100%; border-radius: 8px; padding: 120px 20px 20px 20px; color: #222;}
.partner-box em {font-size: 1.12rem; padding-bottom: 5px; }
.partner-box.p-bg1, .partner-box.p-bg2, .partner-box.p-bg3, .partner-box.p-bg4, .partner-box.p-bg5 {background-size: 80px; background-position: center top 20px;}
.partner-list br {display: none;}

/* 브랜드스토리 */
.brand-01 {padding: 20px;}
.brand-02 {width: 100%;font-size: 1.12rem; padding-bottom:80px; background-size: 300px;  box-sizing: border-box;}
.brand-02 span {font-weight: 300; font-size: 1.12rem; }
.brand-02  br {display: none;}

.brand-03 { margin-top:80px;background-position: center top; background-size: 180px; padding-left: 0; min-height: auto;  padding-top: 200px;}
.brand-03 span {font-size: 1.08rem;}

/* 미션과비전 */
.mission {padding-left: 0; font-size: 1rem; height: auto; padding-top: 140px; }
.mission.mi-01, .mission.mi-02, .mission.mi-03
{background-position: center top!important; background-size: 120px;}

/* netzero */
.netzero-01 {padding-top: 90px; font-size: 1.12rem; font-weight: 300; line-height: 1.4;}
.netzero-01.nbg-01, .netzero-01.nbg-02, .netzero-01.nbg-03 {background-size: 70px!important;}
.netzero-02  {font-size: 1rem; margin-top: 60px;}

.practice-list{ gap:10px; margin-top: 60px; }
.practice-box {height: auto; width: 100%; border-radius: 8px;  font-size:0.92rem;  line-height: 1.4; padding: 110px  20px 20px 20px; color: #222;}
.practice-box li {margin-bottom: 0;}
.practice-box em {font-size: 1rem; margin-bottom: 10px;  }
.practice-box.pra-bg1, .practice-box.pra-bg2, .practice-box.pra-bg3, .practice-box.pra-bg4, .practice-box.pra-bg5 {background-position: center top 20px!important; background-size: 80px;}
.practice-03 {font-size: 1rem; margin-top: 30px; text-align: left; }
.practice-03 br {display: none;}


/* business */
.business-01  {padding-top: 120px; font-size: 1rem; }
.business-01  span {font-size: 1.12rem; padding-bottom: 10px;}
.business-01 br {display: none;}
.business-01.bu-bg1, .business-01.bu-bg2, .business-01.bu-bg3 {background-size: 100px;}

.business-02  {padding-left: 0; font-size: 1rem; margin-top:60px; padding-top: 180px; min-height: auto;}
.business-02 em {font-size: 1.12rem;margin-bottom: 10px; }
.business-02 li {margin-bottom: 0; font-size: 0.92rem;}
.business-02.bu-bg4, .business-02.bu-bg5, .business-02.bu-bg6
{background-size: 240px!important; background-position: center top;}
.business-03 br {display: none;}

.business-04 { padding:24px 16px;border-radius: 6px;}
.b04-text {font-weight: 500; font-size: 1rem; margin-bottom: 10px;}

.soon {font-size: 1.24rem; background-size:40px; padding-top: 50px; margin-top: 60px; min-height: 160px;}

.cabon-info {font-size: 0.88rem; line-height: 1.3;}
.cabon-info h2 {font-size: 0.92rem; }


}