<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layout/layour}">
	<th:block layout:fragment="head" th:insert="~{@{/mobile/layout/head}}"></th:block>


<body>
<div class="wrap">
	<th:block layout:fragment="header" th:insert="~{@{/mobile/layout/header}}"></th:block>
	
	<div layout:fragment="content">
	    <div class="content-wrap">
	    	<!--  3단 롤링배너 -->
	        <div class="swiper mySwiper">
	            <div class="swiper-wrapper">
	                <div class="swiper-slide slide-v1">
	                    <span>텀블러로 시작하는<br>친환경 실천</span>
	                    텀블러로 시작한 작은 실천이,<br>일상의 변화를 만들고<br>세상을 아름답게 합니다.
	                </div>
	                <div class="swiper-slide slide-v2"></div>
	                <div class="swiper-slide slide-v3"></div>
	            </div>
	            <div class="swiper-button-next"></div>
	            <div class="swiper-button-prev"></div>
	            <div class="swiper-pagination"></div>
	        </div>

        <section class="carbon-content">
             <!-- 실천정보 -->
            <div class="main-carbon">
                <h2>나의 실천정보</h2>
                <div class="main-carbonList">
                    <div class="main-carbon-01">
                        실천건수
                        <span th:text="${ useCnt }"></span>
                    </div>
                    <div class="main-carbon-02">
                        랭킹순위
                        <span th:text="${ myLank }">5</span>
                    </div>
                </div>
            </div>

            <!-- 공지사항 -->
            <div class="main-notice">
                <h2>공지사항</h2>
				<ul th:each="docdesc : ${noticeList}">
                    <li>
                    <a th:href="@{'/main/cbNoticeDesc.do?docSeq=' + ${docdesc.docSeq}}" th:text="${docdesc.docTitle}"></a>
                        <span th:text="${docdesc != null ? docdesc.showDtm : ''}"></span>
                    </li>
                </ul>
                <a href="/main/cbNoticeList.do" class="main-more">더보기</a>
            </div>

             <!-- 이벤트 -->
            <div class="main-event">
                <a href="#">
                    <img src="../resources/images/main_event.png">
                </a>
            </div>

             <!-- 환경뉴스 -->
            <div class="main-natural" th:each="docdesc : ${envNewsList}">>
                <h2>환경뉴스</h2>
                <div class="main-naturinfo">
                    <a href="#">
                        <div class="naturalList">
                            <div class="natural-photo">
                                <img  th:src="${docdesc.imgNailNm}">
                            </div>
                            <div class="natual-title">
                                <em th:text="${docdesc.docTitle}">인천 서구, 텀블러로 환경 지키고 탄소중립포인트 혜택 탄소 중립포인트</em>
                                <span th:text="${docdesc.docFrom}">YTN</span>
                                <span th:text="${docdesc.showDtm}">2025.04.23</span>
                            </div>
                        </div>
                    </a>
                </div>

                <a href="#" class="main-more">더보기</a>
            </div>

            <!-- 녹색실천 매장 -->
            <div class="main-store">
                <h2>녹색실천 매장</h2>
                <div class="store-area">
                    <a href="#">
                        <div class="storeList">
                            <img src="../resources/images/thumb_02.png">
                            <em>케이크러버스</em>
                            <span>인천광역시 서구 당하동 962-1</span>
                            <span>050-71302-5056</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="storeList">
                            <img src="../resources/images/thumb_02.png">
                            <em>서원안길</em>
                            <span>인천광역시 서구 당하동 962-1</span>
                            <span>050-71302-5056</span>
                        </div>
                    </a>
                </div>
                <a href="#" class="main-more">더보기</a>
            </div>

            <!-- 기관 뉴스 -->
            <div class="main-news">
                <h2>기관 핫 뉴스</h2>
                <ul>
                    <li>
                        <a href="#">탄소중립 교실을 조성하려는 노력이 노력이 노력이</a>
                        <span>2025.04.23</span>
                    </li>
                    <li>
                        <a href="#">기후변화·탄소중립, 기후변화·탄소중립, 기후변화</a>
                        <span>2025.04.23</span>
                    </li>
                </ul>
                <a href="#" class="main-more">더보기</a>
            </div>

            <!-- 광고 -->
            <div class="main-ad" >
                <a href="#">
                    <img src="../resources/images/main_ad.png">
                </a>
            </div>

        </section>
        <!-- //carbon-content -->

		</div>
	<!-- //content-wrap -->
	</div>
	<th:block layout:fragment="footer" th:insert="~{@{/mobile/layout/footer}}"></th:block>
</div><!-- //wrap -->
</body>
</html>
