<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layout/layout}">
	<th:block layout:fragment="head" th:insert="~{@{/mobile/layout/head}}"></th:block>
<script type="text/javascript">
//1.웹에서 로그인이 완료되어 로딩되는 메인 웹소스에...
//- 아래 처럼 javascript구문을 사용하여 호출하여주세요.

//앱단 메세지 핸들러 호출상태 체크 함수
function waitForCallHandler(callback_func, attempts = 0) {
  if (window.webkit && window.webkit.messageHandlers) {
      callback_func();
  } else if (attempts < 100) { // 100회까지 시도
      setTimeout(function() {
          waitForCallHandler(callback_func, attempts + 1); // 시도 횟수를 증가
      }, 100);
  } else {
      //console.log('waitForCallHandler: 최대 시도 횟수에 도달했습니다.');
  }
}


//메세지 핸들러 호출함수
waitForCallHandler(function() {
	alert("id  : [[${sess.mbrId}]]");
  window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({"action": "savelogin","loginid": "[[${sess.mbrId}]]","passwd": "[[${sess.mbrPwd}]]"}));
});

</script>

<body>
	<th:block layout:fragment="header" th:insert="~{@{/mobile/layout/header}}"></th:block>
	
	<div layout:fragment="content">
	    <div class="content-wrap">
	    	<!--  3단 롤링배너 -->
	        <div class="swiper mySwiper">
	            <div class="swiper-wrapper">
	                <div class="swiper-slide slide-v1">
	                    <span>Net Zero 2050은 미래 생존을 위한<br>세계 인류가 실천할 마지막 사명입니다</span>
	                    올바른 원산지표시실천협회와<br>
	                    협회 가맹점& 탄소 뱅크는<br>
	                    환경 운동에 진심을 다 하겠습니다.
	                </div>
	                <div class="swiper-slide slide-v2">
	                    <span>탄소뱅크는 일상 속 선택을 데이터화해<br>보상으로 이어주는 플랫폼입니다</span>
	                    단순한 플랫폼을 넘어 지구 온난화의 기후<br>
	                    위기를 극복하기 위한 새로운 사회적<br>
	                    인프라가 되고자 합니다
	                </div>
	                <div class="swiper-slide slide-v3">
	                    <span>탄소뱅크의 시그니처 텀블러로<br>지구와 나의 건강을 함께 지키세요</span>
	                    텀블러 하나 사용으로 지구도 살리고<br>
	                    지갑도 살리는 마법!<br>
	                    지금부터 시작 해요
	                </div>
	            </div>
	            <div class="swiper-button-next"></div>
	            <div class="swiper-button-prev"></div>
	            <div class="swiper-pagination"></div>
	        </div>

	        <section class="carbon-content">
	             <!-- 실천정보 -->
	            <div class="main-carbon">
	                <h2>나의 실천정보</h2>
	                <div class="main-carbonList">
	                    <div class="main-carbon-01">
	                        실천건수
	                        <span th:text="${ useCnt }"></span>
	                    </div>
	                    <div class="main-carbon-02">
	                        랭킹순위
	                        <span th:text="${ myLank }">5</span>
	                    </div>
	                </div>
	            </div>

	            <!-- 공지사항 -->
	            <div class="main-notice">
	                <h2>공지사항</h2>
					<ul th:each="docdesc : ${noticeList}">
	                    <li>
	                    <a th:href="@{'/main/cbNoticeDesc.do?docSeq=' + ${docdesc.docSeq}}" th:text="${docdesc.docTitle}"></a>
	                        <span th:text="${docdesc != null ? docdesc.showDtm : ''}"></span>
	                    </li>
	                </ul>
	                <a href="/main/cbNoticeList.do" class="main-more">더보기</a>
	            </div>

                <!-- 이벤트 -->
	            <div class="main-event">
	                <div class="swiper mySwiper">
	                    <div class="swiper-wrapper">
	                        <div class="swiper-slide"><img src="/resources/images/main_event_01.png"></div>
	                        <div class="swiper-slide"><img src="/resources/images/main_event_02.png"></div>
	                    </div>
	                    <div class="swiper-pagination"></div>
	                </div>
	            </div>

	             <!-- 환경뉴스 -->
	            <div class="main-natural">
	                <h2>환경뉴스</h2>
	                <div class="main-naturinfo" th:each="docdesc : ${envNewsList}">
	                    <a th:href="@{'/main/cbEnvNewsDesc.do?docSeq=' + ${docdesc.docSeq}}" >
	                        <div class="naturalList">
	                            <div class="natural-photo">
	                                <img  th:src="${docdesc.imgNailNm}">
	                            </div>
	                            <div class="natual-title">
	                                <em th:text="${docdesc.docTitle}">인천 서구, 텀블러로 환경 지키고 탄소중립포인트 혜택 탄소 중립포인트</em>
	                                <span th:text="${docdesc.docFrom}">YTN</span>
	                                <span th:text="${docdesc.showDtm}">2025.04.23</span>
	                            </div>
	                        </div>
	                    </a>
	                </div>
	                <a href="/main/cbEnvNewsList.do" class="main-more">더보기</a>
    	        </div>

	            <!-- 녹색실천 매장 -->
	            <div class="main-store">
	                <h2>녹색실천 매장</h2>
                	<div class="store-area">
                    	<!-- <a  th:href="@{'/store/cbStoreDesc.do?storeId=' + ${storeInfo.storeId}}" > -->
                    	<a  href="#"  th:each="storeInfo : ${storeList}">
	                        <div class="storeList">
	                            <img  th:src="${storeInfo.storeImg}" >
	                            <em th:text="${storeInfo.storeNm}">케이크러버스</em>
	                           	<span  th:text="${storeInfo.storeEventTxt}" class="dis">500원 할인</span>
	                            <span th:text="${storeInfo.storeAddr}">인천광역시 서구 당하동 962-1</span>
	                            <span th:text="${storeInfo.storeCellNum}">050-71302-5056</span>
	                        </div>
	                     </a>
	                </div>
	                <a href="/store/cbStoreList.do" class="main-more">더보기</a>
	            </div>

	            <!-- 기관 뉴스 -->
	            <div class="main-news">
	                <h2>기관 핫 뉴스</h2>
					<ul th:each="docdesc : ${hotNewsList}">
	                    <li>
	                    <a th:href="@{'/main/cbHotNewsDesc.do?docSeq=' + ${docdesc.docSeq}}" th:text="${docdesc.docTitle}"></a>
	                        <span th:text="${docdesc != null ? docdesc.showDtm : ''}"></span>
	                    </li>
	                </ul>
	                <a href="/main/cbHotNewsList.do" class="main-more">더보기</a>
	            </div>

	            <!-- 광고 -->
				<div class="main-event">
	                <div class="swiper mySwiper">
	                    <div class="swiper-wrapper">
	                        <div class="swiper-slide"><img src="../resources/images/main_ad_01.png"></div>
	                        <div class="swiper-slide"><img src="../resources/images/main_ad_02.png"></div>
	                    </div>
	                    <div class="swiper-pagination"></div>
	                </div>
	            </div>

	        </section>
	        <!-- //carbon-content -->

		</div>
	<!-- //content-wrap -->
	</div>
	<th:block layout:fragment="footer" th:insert="~{@{/mobile/layout/footer}}"></th:block>

    <script type="text/javascript" src="/resources/js/content.js"></script>
    <script type="text/javascript" src="/resources/js/swiper-bundle.min.js"></script>

</body>
</html>
