<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layout/layout}">
	<th:block layout:fragment="head" th:insert="~{@{/mobile/layout/head}}"></th:block>


<body>
	<th:block layout:fragment="header" th:insert="~{@{/mobile/layout/header_incheon}}"></th:block>
	
	<div layout:fragment="content">
    <div class="content-wrap">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-v1">
                    <span>길을 열고, 잇고, 길이 되는 인천!<br>푸른 바다처럼 우리의 실천도 깊어집니다</span>
                    탄소 중립 실천 운동도<br>
                    인천 공항만큼 빠르게,<br>
                    최초를 넘어 최고가 되어 전 세계로!!
                </div>
                <div class="swiper-slide slide-v2">
                    <span>환경 뉴스 구독은 우리 동네와<br>미래세대를 위한 푸른 약속 입니다</span>
                        지구 온도 1.5℃ 이하 유지를 위해 생활 속<br>
                        환경 뉴스 구독은 탄소 발자국 줄이는 실천<br>
                        운동 입니다
                </div>
                <div class="swiper-slide slide-v3">
                    <span>바다와 하늘이 만나는 인천<br>푸른 미래를 디자인 하다!</span>
                        미래 생존을 위한 Net Zero 2050<br>
                        달성은 인류가 행동할<br>
                        마지막 실천 기회 입니다
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

        <section class="carbon-content">
             <!-- 실천정보 -->
            <div class="main-carbon">
                <h2>나의 실천정보</h2>
                <div class="main-carbonList">
                    <div class="main-carbon-01">
                        실천건수
                        <span th:text="${ useCnt }">36</span>
                    </div>
                    <div class="main-carbon-02" th:text="${ myLank }">
                        랭킹순위
                        <span>125</span>
                    </div>
                </div>
            </div>

            <!-- 공지사항 -->
            <div class="main-notice">
                <h2>공지사항</h2>
				<ul th:each="docdesc : ${noticeList}">
                    <li>
                    <a th:href="@{'/main/cbNoticeDesc.do?docSeq=' + ${docdesc.docSeq}}" th:text="${docdesc.docTitle}"></a>
                        <span th:text="${docdesc != null ? docdesc.showDtm : ''}"></span>
                    </li>
                </ul>
                <a href="/main/cbNoticeList.do" class="main-more">더보기</a>
            </div>

            <!-- 이벤트 -->
            <div class="main-event">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../resources/images/main_event_01.png"></div>
                        <div class="swiper-slide"><img src="../resources/images/main_event_02.png"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

             <!-- 환경뉴스 -->
            <div class="main-natural">
                <h2>환경뉴스</h2>
                <div class="main-naturinfo" th:each="docdesc : ${envNewsList}">
                    <a th:href="@{'/main/cbEnvNewsDesc.do?docSeq=' + ${docdesc.docSeq}}" >
                        <div class="naturalList">
                            <div class="natural-photo">
                                <img  th:src="${docdesc.imgNailNm}">
                            </div>
                            <div class="natual-title">
                                <em th:text="${docdesc.docTitle}">인천 서구, 텀블러로 환경 지키고 탄소중립포인트 혜택 탄소 중립포인트</em>
                                <span th:text="${docdesc.docFrom}">YTN</span>
                                <span th:text="${docdesc.showDtm}">2025.04.23</span>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="/main/cbEnvNewsList.do" class="main-more">더보기</a>
   	        </div>

            <!-- 녹색실천 매장 -->
            <div class="main-store">
                <h2>녹색실천 매장</h2>
                	<div class="store-area" th:each="storeInfo : ${storeList}">
                    	<!-- <a  th:href="@{'/store/cbStoreDesc.do?storeId=' + ${storeInfo.storeId}}" > -->
                    	<a  href="#"  th:each="storeInfo : ${storeList}">
	                        <div class="storeList">
	                            <img  th:src="${storeInfo.storeImg}" >
	                            <em th:text="${storeInfo.storeNm}">케이크러버스</em>
                           		<span  th:text="${storeInfo.storeEventTxt}" class="dis">500원 할인</span>
	                            <span th:text="${storeInfo.storeAddr}">인천광역시 서구 당하동 962-1</span>
	                            <span th:text="${storeInfo.storeCellNum}">050-71302-5056</span>
	                        </div>
	                     </a>
	                </div>
	                <a href="/store/cbStoreList.do" class="main-more">더보기</a>
            </div>

            <!-- 시정 뉴스 -->
            <div class="main-news">
                <h2>시정 뉴스</h2>
					<ul th:each="docdesc : ${munNewsList}">
	                    <li>
	                    <a th:href="@{'/main/cbNoticeDesc.do?docSeq=' + ${docdesc.docSeq}}" th:text="${docdesc.docTitle}"></a>
	                        <span th:text="${docdesc != null ? docdesc.showDtm : ''}"></span>
	                    </li>
	                </ul>
	                <a href="/main/cbMunicipalNewsList.do" class="main-more">더보기</a>
            </div>

            <!-- 광고 -->
            <div class="main-adbanner" >
                <a href="#">
                    <img src="/resources/images/main_ad_01.png">
                </a>
                <a href="#">
                    <img src="/resources/images/main_ad_02.png">
                </a>
            </div>

            <!-- 시정활동 영상 -->
            <div class="main-movie">
                <h2>시정활동 영상</h2>
                <div class="movie-list" th:each="docdesc : ${munVideoList}">>
                    <a th:href="@{'/main/cbHotNewsDesc.do?docSeq=' + ${docdesc.docSeq}}" >
						<img  th:src="${docdesc.imgNailNm}">
                        [[${sess.lstLgnDtm}]]
                    </a>
                </div>
                <a href="/main/cbMunicipalVideoList.do" class="main-more">더보기</a>
            </div>

        </section>
        <!-- //carbon-content -->
    </div>
    <!-- //content-wrap -->

	</div>
    <script type="text/javascript" src="/resources/js/content.js"></script>
    <script type="text/javascript" src="/resources/js/swiper-bundle.min.js"></script>

</body>
</html>
