<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layout/layout}">
	<th:block layout:fragment="head" th:insert="~{@{/mobile/layout/head}}"></th:block>


<body>
<div class="wrap">
	<th:block layout:fragment="header" th:insert="~{@{/mobile/layout/headersub}}"></th:block>

	
	<div layout:fragment="content">
	    <div class="content-wrap">
	        <section class="carbon-content">
	
	            <div class="board-view">
	                <div class="view-title" th:text="${docview.docTitle}">
	                    2025년 탄소중립포인트제 참여 기업·기관 업무 협약식
	                </div>
	                <!-- 조회수 추가 -->
	                <div class="view-info">
	                    <span th:text="${'조회수: ' + docview.docRead}">조회수: </span>
	                    <span th:text="${docview.showDtm}">연합뉴스</span>
	                </div>
	                <div class="view-content"  th:utext="${docview.docInfo}">
	                </div>
	            </div>
	        </section>
	
	    </div>
    <!-- //content-wrap -->
	</div>
</div><!-- //wrap -->
</body>
</html>