<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mobile/layout/nolayour}">
	<th:block layout:fragment="head" th:insert="~{@{/mobile/layout/nohead}}"></th:block>
<script type="text/javascript">
	$(function(){ 
	});

	$(document).ready(function(){
    	
		//저장버튼 클릭
        $('#memReg').on('click', function(event) {
            var param = {
                     "mbrNm" : $('#mbrNm').val() 
                     , "mbrCellNum" : $('#mbrCellNum').val() 
                     , "mbrPwd" : $('#mbrPwd').val() 
               };        
            
            $.ajax({
                url : '/home/cbRegMmeberProc'
                , type : 'POST'
                , dataType : 'JSON'
                , cache : false
                , data : param
                , beforeSend : function( xhr, settings ) { 
                    //loadingbar_show(); 
                }
                , success : function(data, stauts, request) {
    				if (data.procInd == "S") {
    					alert("정상 처리 되었습니다.");
    					location.href = "/main/cbMain.do";
    				} else {
    					alert("처리중 오류가 발생 했습니다.");
    				}

                }
                , error : function(xhr, status) {
                    alert('서비스 장애발생 관리자에게 문의해 주십시요');
                }
                , complete : function(xhr, status) {
                    //loadingbar_hide();
                }    
            });
        });
        
    });
</script>


<body>
<div class="wrap">
	<div layout:fragment="content">
	<!-- //content-wrap -->
    <ul class="carbon-join2">
        <li>
            <label for="">이름</label>
            <input type="text" name="" id="mbrNm">
        </li>
        <li>
            <label for="">휴대폰 번호</label>
            <input type="text" name="" id="mbrCellNum">
        </li>
        <li>
            <label for="">비밀번호</label>
            <input type="password" name="" id="mbrPwd">
        </li>
    </ul>
    <div class="join-btn">
        <button type="button" class="btn-gray" id="Lgn">가입취소</button>
        <button type="button" class="btn-blue" id="memReg">회원가입</button>
    </div>
	</div>
</div><!-- //wrap -->
</body>
</html>
