<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
	    <div class="carbon-footer">
	        <div class="footer-01"><a href="/main/cbMain.do">Home</a></div>
	        <div class="footer-02" ><a href="/carbon/cbCarbonMain.do">탄소활동</a></div>
	        <div class="footer-03"><a href="/carbon/cbQRView.do">QR</a></div>
	        <div class="footer-04"><a href="/main/cbEnvNewsList.do">뉴스</a></div>
	        <div class="footer-05"><a href="/main/cbMyPage.do">마이페이지</a></div>
	    </div>
    </div>
</html>