<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="head">
		<head>
			<title>탄소뱅크</title>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
			<meta name="keywords" content="탄소뱅크" />
		    <meta name="description" content="탄소뱅크" />
		    <meta property="og:image" content="/resources/images/opengraph.png" />
		    <link rel="icon" href="/resources/images/favicon.png">
			<link rel="stylesheet" href="/resources/css/common.css" >
		    <script type="text/javascript" src="/resources/js/jquery-3.6.0.min.js"></script>
		    <script type="text/javascript" src="/resources/js/menuLink.js"></script>
		    <script type="text/javascript" src="/resources/js/common.js"></script>
		</head>
    </div>
</html>
