<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
    <header class="carbon-header">
        <div class="carbon-head">
            <button type="button" id="befBackBtn" class="back">뒤로</button>
            <h1 class="sub-head" th:text="${ pagenm }">Title</h1>
            <div class="i-notice">
                <img src="../resources/images/ico_noitce.svg">
                <span class="on"></span>
            </div>
        </div>
        <div class="menu-wrap">
            <input id="menu-toggle" type="checkbox" />
            <label class="menu-btn" for="menu-toggle"><span></span></label>
            <div class="menu-back"></div>

            <div class="menu-content">
                <div class="menu-header">
                    <h1><img src="../resources/images/logo.svg"></h1>
                    <div class="sidemy">
                       <span th:text="${ sess.mbrNm }">홍길동님</span>
                       최근접속 : [[${sess.lstLgnDtm}]]
                    </div>
                </div>
	                <!-- menu -->
	                <ul class="menu-list">
	                    <li class="m1">
	                       탄소
	                        <ul>
	                            <li><a href="/store/cbStoreSearch.do">매장 찾기</a></li>
	                            <li><a href="/member/cbPerformanceQuery.do">실적 조회</a></li>
	                            <li><a href="#">FAQ</a></li>
	                        </ul>
	                    </li>
	                    <li class="m2">
	                        환경
	                        <ul>
	                            <li><a href="/main/cbEnvNewsList.do">뉴스</a></li>
	                        </ul>
	                     </li>
	                     <li class="m3">
	                        고객센터
	                        <ul>
	                            <li><a href="/main/cbNoticeList.do">공지사항</a></li>
	                            <li><a href="/my/cbQnaList.do">문의 및 제안</a></li>
	                            <li><a href="#">FAQ</a></li>
	                        </ul>
	                     </li>
	                     <li class="m4">
	                        설정
	                        <ul>
	                            <li><a href="#">알림</a></li>
	                        </ul>
	                     </li>
	                </ul>
            </div>
            <!-- //menu-content -->
        </div>
    </header>
    </div>
</html>